@font-face {
    font-family: "Tiresias Infofont";
    src: url("./Tiresias_Infofont.ttf"); /* Relative path */
}

:root{ /* My own variables! */
    /* These variables can be used anywhere in the code! */
    /* They must start with -- */
    --centre: center; /* I need it to accommodate British spelling. */
    --sky: #00c0ff;
    --ocean: #00809c;
    --teal: var(--ocean);
    --left-and-right·spacing: 20%;
    --fonts: "Tiresias Infofont"; /* Might add substitution fonts */
    --text-colour: white;
    --CBeebies-yellow: #ffe400;
    --CBeebies-purple: #462682;
    --global-cursor-state: None;
}
body, html {
    margin: 0px;
    padding: 0px;
    height: 100%;
    color: white;
    font-size: 35px;
    text-align: left;
    font-family: var(--fonts);
    overflow: hidden; /* disables scrolling */
    background-color: var(--sky);
    /* I want people to stare at that screen, remembering how scary it was for them when they were younger. */
    cursor: var(--global-cursor-state);
}
----{ /* Odd, but valid CSS*/
    /* You can have 2 or more hyphens! */
    --: --; /* this does nothing. */
}
.CBeebies sky, .CBeebies ocean  { /* Even no-break spaces are allowed in CSS variable names!
    /* It's a different space! */
    height: 70%;
    background-color: #00c0ff;
    padding-left: var(--left-and-right·spacing);
    padding-right: var(--left-and-right·spacing);
    top: 0%;
}

.CBeebies ocean {
    /* ocean margin */
    height: 100%;
    background-color: var(--ocean);
    padding-top: 2.5%;
}

#©·Mehdical·Man{
    background-color: black;
    text-align: var(--centre);
    padding: 0px;
}
#Mehdical Manǃ /* Using non-ASCII is allowed.*/ {
    /* Moves the section of text downwards */
    margin-top: 2%;
}

.CBeebies SVG {
    POSITION: relative; /*Properties can also be in capital letters.*/
    top: 15%;
    left: 50%;
    user-select: None; /*Heh, Python None.*/
    transform: translate(-50%, -50%) scale(0.5);
    max-width: 100%;
    text-align: var(--centre);
}

.HIDDEN·hyperlinkǃ {
    /* I want people to appreciate the “This Is CBeebies” page
    without the default hyperlink style ruining the aesthetic. */
    color: var(--text-colour);
    text-decoration: none;
    cursor: var(--global-cursor-state);
}

/* People will accidentally discover that “cbeebies.co.uk” is a functioning link when hovering over it. */
.HIDDEN·hyperlinkǃ:hover {
    background-color: var(--CBeebies-yellow);
    color: var(--CBeebies-purple);
    text-decoration: underline;


}

/*
::selection {
    background-color: white;
    color: black;
}
    */

